{% load static %}

<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Reading record HOME</title>
  <link rel="stylesheet" href='{% static "reading_record/css/style.css" %}'/>
  <link href="{% static 'reading_record/icon/favicon.ico' %}" rel="shortcut icon">
</head>
<body id="home">
  <header>
    <div class="logo">
      <img src="../../static/reading_record/images/logo.png", alt="HOME" width="176" height="70">
    </div>
    <nav>
        <ul class="global-nav">
            <li><a href="{% url 'home' %}">{{ UserID }}</a></li>
        </ul>
    </nav>
</header>
<div class="main">
  <h1>{{ UserID }}, welcome!</h1>

  <p class="guid"> 読書記録の投稿は
    <a href="{% url 'record_create' %}">こちら</a>

    <p class="guid"> 読書記録一覧は
      <a href="{% url 'show_records' %}">こちら</a>

  <p class="guid"> ログアウトは
  <a href="{% url 'Logout' %}">こちら</a>
  </p>
</div>
</body>
</html>